parameters:
    level: 8
    paths:
        - tests
    bootstrapFiles:
        - ./vendor/bin/.phpunit/phpunit/vendor/autoload.php
        - ./vendor/pimcore/pimcore/stubs/dynamic-constants.php
    checkMissingIterableValueType: false
    excludePaths:
        - tests/project/*
