includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
parameters:
    level: 8
    paths:
        - .
    checkMissingIterableValueType: false
    excludePaths:
        - Tests
        - vendor
        - node_modules
